.tg {
  border-collapse: 'collapse';
  border-spacing: 0;
}
.tg td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg .tg-baqh {
  text-align: center;
  vertical-align: top;
}
.tg .tg-kfkg {
  background-color: #dae8fc;
  border-color: inherit;
  text-align: center;
  vertical-align: top;
}
.tg .tg-y0n7 {
  background-color: #efefef;
  text-align: center;
  vertical-align: middle;
}
.tg .tg-2xkh {
  background-color: #efefef;
  color: #222;
  text-align: left;
  vertical-align: middle;
}
.tg .tg-1ppo {
  background-color: #fff;
  color: #222;
  text-align: left;
  vertical-align: middle;
}
.tg .tg-nrix {
  text-align: center;
  vertical-align: middle;
}
